.primary_btn {
    background-color: black;
    color: white;
    padding: 18px 10px;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}