.primary_btn {
    background-color: black;
    color: white;
    padding: 18px 10px;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
}

.outline_btn {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 18px 10px;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
}