@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #d5e8f4;
}

.main-nav-section {
    padding: 4px 23px;
    display: flex;
    justify-content: space-between;
    height: max-content;
    align-items: center;
    position: sticky;
    top: 90;
    height: 50px;
    overflow: hidden;
    width: 30%;
    border-radius: 40px;
    background-color: #e0eef7;
    margin: 0 auto;
    transform: translate(4%, 30%);
    border: 1px solid #acdfff;
}

.main-nav-section .logo img {
    height: 100%;
    width: 80px;
    border: none;
    overflow: hidden;

}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

li{
    list-style: none;
}

li a {
    text-decoration: none;
    color: #9071b9;
}

ul button {
    height: 24px;
    width: 24px;
    border-radius: 15px;
    border: none;
    background-color: #acdfff;
    color: #9071b9;
    padding-top: 4px;
}


main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}